.popularMovies {
  padding: 2rem;
}
.popularMovies > h1 {
  margin-bottom: 1rem;
}
.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.loader {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftAndRightArrow {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
  align-items: center;
}
.leftAndRightArrow > p,
.leftAndRightArrow > button{
  background-color: black;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  padding: .5rem 1rem;
}
.topArrow {
  font-size: 2rem;
  position: fixed;
  bottom: 100px;
  right: 100px;
}
button {
  cursor: pointer;
}
