.active > a {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 10px;
}
@media screen and (max-width: 769px) {
  .active > a {
    display: block;
    width: 100%;
  }
}
