.castProfile1 {
  background-color: rgba(255, 255, 255);
  box-shadow: 0 4px 16px 0 #bfbfbf;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 1rem;
  flex-shrink: 0;
}
.castProfile1 > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: scale-down;
}
.castProfile1 > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
